body {
  border: 2px solid black;
  min-height: 100vh;
}
.nav-links-wrapper {
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.nav-link,
span {
  text-decoration: none;
  color: black;
  font-size: large;
  margin: 2px;
}
.heading,.review-text-heading , .footer-text {
  text-align: center;
  font-size: x-large;
  margin: 2rem 0;
}
article {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
}
.projects {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: 20%;

}
.education{
   width: 25%;
}
.projects > a {
  border-top: 1px solid black;
  text-decoration: none;
  padding: 8px 0 0 5px;
  color: black;
}
.work-experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  border-right: 1px solid black;
}
.work-experience > a,
.github-profile-link {
  text-decoration: none;
  color: blue;
  padding: 3px;
}
.openSource-work {
  border-top: 1px solid black;
}
li:before { 
content: "-";
font-size: large;
 }
 .reviews-section{
   display: flex;

 }
 h3 , p{
  padding-left: 6px;
 }
 .review-text-container{
   width: 50%;
   border: 1px solid black;
   border-radius: 3rem;
   height: fit-content;
   padding: 1rem;
 }
@media (max-width: 470px) {
  .nav-wrapper,
  article {
    flex-direction: column;
    align-items: center;
  }
  .project-links-wrapper{
    background-color: gainsboro;
  }
  .work-experience,
  .projects  {
    width: 100%;
    border: none;
  }
  .education{
    min-width: 100%;
    border-top: 1px solid black;
  }
  .work-experience  {
    border-top: 1px solid black;
    margin-top: 1rem;
    width: 100%;
  }
  .reviews-section{
   flex-direction: column;
   align-items:  center;
  }
  .review-txt1, .review-txt2{
   display: none;
  }
  body{
    height: 100%;
  }
  
}
